# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
*.code-workspace

# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Pytest
.pytest_cache/
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm specific
.idea/

# Other sensitive files
config.py
